.imgProduct{
	overflow: hidden;
}

.imgProduct img:hover{
	transition: .3s all ease;
	opacity:.8;
	transform: scale(1.1,1.1);
}

.badgeNew{
	background:#1C345B !important; 
	color:white !important;
}

